Source: fadecut
Section: sound
Priority: optional
Maintainer: Marco Balmer <marco@balmer.name>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://github.com/micressor/fadecut

Package: fadecut
Architecture: all
Depends: vorbis-tools, sox (>=14.3), streamripper, mp3info,  libc-bin
Suggests: lame
Description: Radio livestream to ogg/mp3 tool
 This script handle mp3 files (-ripped by streamripper), fade in and
 out. It set stream tags: artist, title and your own decided genre.
 If you have songs you do not like, move the ripped file to dontlike/ folder,
 so fadecut will no longer convert this song, if it was read on the livestream.
 All processed files of fadecut are in new/ folder. The original files from
 streamripper are in the orig/ folder after processing.
